# =========================
# Build outputs
# =========================
bin/
obj/
*.dll
*.exe
*.pdb
*.app
*.log

# =========================
# VS Code
# =========================
# .vscode/

# =========================
# User / OS files
# =========================
*.user
*.suo
*.userprefs
*.DS_Store
Thumbs.db

# =========================
# NuGet
# =========================
*.nupkg
*.snupkg
.nuget/

# =========================
# Rider/IDEA (如果你可能使用)
# =========================
.idea/

# =========================
# Dotnet local tool / temp
# =========================
*.vs/
*.vsconfig
*.dotCover
TestResults/
coverage/

# =========================
# BenchmarkDotNet
# =========================
BenchmarkDotNet.Artifacts

# =========================
# drawio
# =========================
*.bkp
